.git/
.gitmodules
.gitignore

node_modules/
dist/
coverage/
build/
target/
.vscode/
.idea/
.DS_Store
.env
.env.*.local

Dockerfile
docker-compose.yml
docker-compose.yaml
.dockerignore

*.log
*.tgz
*.zip
*.tar.gz
*.tar.xz
*.tar
*.rar
*.7z
*.swp
*.swo
*.bak
*.tmp
*.pid
*.lock